@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffdf7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffdf7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins;
  position: relative;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

.flex_b_center {
  @apply flex justify-between items-center;
}

.flex_s_center {
  @apply flex justify-start items-center;
}
